/* Last Rule Order */
div {
  height: 400px;
  color: red;
}
.big_img {
  background: url(/css/images/big.jpeg);
  background-repeat: round;
  background-size: cover;
}
.small_img {
  border: 2px solid red;
  background: url(/css/images/small.jpg);
  background-size: cover;
}
.folder_img {
  background: url(/css/images/folder_image.jpeg);
  background-size: contain;
  background-repeat: no-repeat;
}
